h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}
body {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
    width: 100%;
    background-color: #333;
    color: yellow;
}
.row {
    margin: %;
    padding: 1%;
}
.row img {
    height: 250px;
    width: 300px;
    opacity: 7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.one,
.two,
.three {
    width: 30.83;
    float: left;
}
.row img:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
@media (max-width:400) {
    .row img {
        display: block;
        margin: 0 0 5px;
    }
    ul.rig {
        margin-left: 0;
    }
    .row img {
        width: 100% !important;
        /* over-ride all li styles */
        margin: 0 0 20px;
    }
}
