h1 {
font-family:'Dancing Script',Georgia, Times, serif; 
font-size: 30px;
line-height: 20px;
color:firebrick;
}

body {
font-family:'Josefin Sans, Helvetica, Arial, sans-serif; 
font-size: 18px;
line-height: 25px;
    margin-top: 15px
color:black;
background-color:#C9DCB9;
}

